<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>SportsHub</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleLocalizations</key>
    <array>
        <string>ar</string>
        <string>en</string>
    </array>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>$(PRODUCT_BUNDLE_IDENTIFIER).links</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>sportshub</string>
            </array>
        </dict>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
    <string>$(CURRENT_PROJECT_VERSION)</string>
    <key>NSSupportsLiveActivities</key>
    <true/>
    <key>SportsAPIBaseURL</key>
    <string>$(SPORTS_API_BASE_URL)</string>
    <key>SportsAuthEnabled</key>
    <string>$(SPORTS_AUTH_ENABLED)</string>
    <key>SportsCommunityEnabled</key>
    <string>$(SPORTS_COMMUNITY_ENABLED)</string>
    <key>SportsCommunityStandardsURL</key>
    <string>$(SPORTS_COMMUNITY_STANDARDS_URL)</string>
    <key>SportsCommunitySupportURL</key>
    <string>$(SPORTS_COMMUNITY_SUPPORT_URL)</string>
    <key>SportsDataMode</key>
    <string>$(SPORTS_DATA_MODE)</string>
    <key>SportsPublicWebBaseURL</key>
    <string>$(SPORTS_PUBLIC_WEB_BASE_URL)</string>
    <key>SportsMediaAllowedHosts</key>
    <string>$(SPORTS_MEDIA_ALLOWED_HOSTS)</string>
    <key>SportsPremiumMonthlyProductID</key>
    <string>$(SPORTS_PREMIUM_MONTHLY_PRODUCT_ID)</string>
    <key>SportsPremiumAnnualProductID</key>
    <string>$(SPORTS_PREMIUM_ANNUAL_PRODUCT_ID)</string>
    <key>SportsPremiumPrivacyURL</key>
    <string>$(SPORTS_PREMIUM_PRIVACY_URL)</string>
    <key>SportsPremiumTermsURL</key>
    <string>$(SPORTS_PREMIUM_TERMS_URL)</string>
    <key>SportsAdvertisingEnabled</key>
    <string>$(SPORTS_ADVERTISING_ENABLED)</string>
    <key>SportsAppGroupIdentifier</key>
    <string>$(SPORTS_APP_GROUP_ID)</string>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
    <key>UIBackgroundModes</key>
    <array>
        <string>audio</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
</dict>
</plist>
